.agile {
  display: flex;
  align-self: center;
  justify-content: center;
}

.agile__nav-button {
  background: transparent;
  border: none;
  color: #805649;
  opacity: 0;
  cursor: pointer;
  font-size: 24px;
  transition-duration: 0.3s;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

.agile__nav-button--prev {
  left: -500px;
}

.agile__nav-button--next {
  right : -500px;
}

.agile__nav-button:hover {
  background-color: rgba(#000, .1);
  color: #805649;
  opacity: 1;
}

.agile__dot {
  margin: 0 10px;
}

.agile__dot button {
  background-color: #eee;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: block;
  height: 10px;
  font-size: 0;
  line-height: 0;
  margin: 0;
  padding: 0;
  transition-duration: 0.3s;
  width: 10px;
}

.agile__dot--current button,
.agile__dot:hover button {
  background-color: #888;
}

.slide {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.slide  p {
  color: #805649;
  font-size: 16px;
  font-weight: 300;
  margin-right: 5%;
  margin-left: 5%;
  display: flex;
  text-align: center;
  margin: auto;
}


.slide img {
  /*width: 100%;*/
  display: flex;
  /* Can switch between width or height. Removing width improves ipad portrait though cuts of the image. With width set the image is stretched to fill the view
  in ipad portrait mode. */ 
  height: 90vh;
}


.bottom-counter {
  position: absolute;
  bottom: 0.9rem;
  color: white;
  opacity: 0.5;
  left: 50%;
}

.nplh {
  display: none;
}

[v-cloak] {
  display: none;
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
  .slide img {
    width: 100%;
    /* Can switch between width or height. Removing width improves ipad portrait though cuts of the image. With width set the image is stretched to fill the view
    in ipad portrait mode. */ 
    height: 90vh;
  }

  .slide  p {
    font-size: 18px;
  }
}

.close-property-mobile {
  display: none;
}



@media (max-width: 575.98px) {

  /*.nplh {
    padding-top: 5%;
    display: flex;
    text-align: center;
    justify-content: center;
    } */

    .close-property {
      position: absolute;
      height: 5.25rem;
      width: 5.25rem;
      background-size: 1.5rem;
      right: 0rem;
      top: 1rem;
      z-index: 1000;
      color: #805649;
      opacity: 0;
    }

    .close-property-mobile {
      padding-top: 10%;
      display: flex;
      justify-content: center;
      text-align: bottom;
      align-self: flex-end;
      flex-direction: column;
      z-index: 1000;
      color: #805649;
      opacity: 1;
      font-size: 10px;
    }

    .properties-golden-ticket {
      color: #805649;
      font-style: bolder;
      font-size: 0.8rem;
      border-bottom: none;
      letter-spacing: 0.15rem;
      padding-bottom: 3px;
    }

    .properties-london {
      color: #805649;
      font-style: bolder;
      font-size: 0.9rem;
      padding-top: 2px;
    }

    .slide img {
      padding-top: 25%;
      width: 100%;
      height: auto;
    } 

  /*.slide-text {
    padding-top: 20%;
     width: 100%;
    height: auto;
    }*/
    
    .bottom-counter {
      font-size: 9px;
      color: #805649;
      font-weight: lighter;
      opacity: 0
    }
}/*

@media (max-width: 767.98px) { 
  .slide img {
    width: 100%;
    height: 80%;
  }

  .bottom-counter {
    font-size: 9px;
    color: #805649;
    font-weight: lighter;
  }

  @media only screen 
  and (min-device-width : 768px) 
  and (max-device-width : 1024px) 
  and (orientation : portrait) { 
    .slide img {
      width: 100%;
      height: 80%;
    }

    }*/

    

    /* ----------- iPhone 6, 6S, 7 and 8 ----------- */

    /* Portrait */
    @media only screen 
    and (min-device-width: 375px) 
    and (max-device-width: 667px) 
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait) { 
     .slide img {
      width: 100%;
      height: auto;
      padding-top: 0%;
    }

    .nplh {
      padding-top: 20px;
      display: flex;
      text-align: center;
      justify-content: center;
    }

    .slide  p {
      padding-top: 30px;
      font-size: 13px;
    } 
  }

  /* Landscape */
  @media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

    .slide  p {
      padding-top: 60px;
      font-size: 13px;
    } 
  }


  /* ----------- iPhone 6+, 7+ and 8+ ----------- */

  /* Portrait */
  @media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
  }

  /* Landscape */
  @media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

    .slide  p {
      padding-top: 60px;
      font-size: 13px;
    } 
  }



  @media (max-width: 767.98px) { 


    .bottom-counter {
      font-size: 9px;
      color: #805649;
      font-weight: lighter;
    }

    @media only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1024px) 
    and (orientation : portrait) { 
      .slide img {
        width: 100%;
        height: 80%;
      }


      /* ----------- iPad Pro 12.9" ----------- */

      /* Portrait */
      /* Declare the same value for min- and max-width to avoid colliding with desktops */
      /* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
      @media only screen 
      and (min-device-width: 1024px) 
      and (max-device-width: 1024px) 
      and (orientation: portrait) 
      and (-webkit-min-device-pixel-ratio: 2) {

      }

      /* Landscape */
      /* Declare the same value for min- and max-width to avoid colliding with desktops */
      /* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
      @media only screen 
      and (min-device-width: 1366px) 
      and (max-device-width: 1366px) 
      and (orientation: landscape) 
      and (-webkit-min-device-pixel-ratio: 2) {
      }
    }






