.vue-map-container {
	width: 100%;
	height: 500px;
}
.vue-map-container .vue-map {
	width: 100%;
	height:100%;
}

body a {
	color: inherit;
}

.btn {
	font-size: inherit;
}

.btn:hover {
	color: inherit;
	text-decoration: none;
	background-color: none;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.content-box {
	display: flex;
	border: 0px solid #ddd;
	color: #805649;
	font-size: 12px;
	height: 93vh;
	width: 100%;
	flex-direction: column;
	justify-content: space-between;
}

.content-box img {
	max-height: 100%;
	max-width: 100%;
}

.form-control {
	font-size: inherit;
}

.full-height {
	height: 100%;
}

#left-box {
	background-color: white;
}

.rock-salt {
	font-family: 'Rock Salt';
	font-weight: 400;
	letter-spacing: 2px;
	color: rgb(127, 82, 23);
	transition: opacity;
}


/* Top Title -------------------------------------------------*/
.top-title {
	display: flex;
	align-self: center;
	transition: opacity;
}

.top-title a {
	color: inherit;
	letter-spacing: 2px;
}

.top-title a:hover {
	text-decoration: none;
	opacity: 0.7;
}


/* Middle Title -------------------------------------------------*/
.middle-title {
	display: flex;
	align-self: center;
	justify-content: center;
}

.middle-title a {
	font-family: 'Syncopate';
	font-weight: 400;
	font-size: larger;
	letter-spacing: 2px;
	color: rgb(127, 82, 23);
	transition: opacity;
}

.middle-title .logo {
	font-family: 'Syncopate';
	font-weight: 400;
	font-size: larger;
	letter-spacing: 2px;
	color: rgb(127, 82, 23);
	transition: opacity;
}

.middle-title a:hover {
	text-decoration: none;
	opacity: 0.7;
}

.nplh-logo {
	font-size: 1.1rem;
}

.gt-logo {
	font-size: 1.1rem;
}



/* Bottom Title -------------------------------------------------*/
.bottom-title {
	display: flex;
	transition: opacity;
	justify-content: space-around;
}

.bottom-title a {
	display: flex;
	color: inherit;
	letter-spacing: 2px;
}

.bottom-title a:hover {
	text-decoration: none;
	opacity: 0.7;
}

/*.slide-text {
	display: flex;
	align-self: center;
	flex-direction: column;
	text-align: center;
}
*/


.middle-list {
	display: flex;
	align-self: center;
	flex-direction: column;
	text-align: center;
	letter-spacing: 2px;
}

.middle-list a {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: center;
	margin-top: 7px;
	border-bottom: 1px solid transparent;
	text-decoration: none;
}

.middle-list a:hover {
	color: inherit;
	border-bottom-color: inherit;
}

.middle-text {
	display: flex;
	align-self: center;
	flex-direction: column;
	text-align: center;
	margin-left: 5%;
	margin-right: 5%;
}
.custom-text {
	display: flex;
	align-self: center;
	flex-direction: column;
	text-align: center;
}

.description-text {
	display: flex;
	align-self: center;
	flex-direction: column;
	text-align: center;
}

.members-login {
	display: flex;
	flex-direction: column;
	text-align: center;
	letter-spacing: 2px;
}

.property-address-text {
	display: flex;
	align-self: center;
	flex-direction: column;
	text-align: center;
	font-size: 1.1rem;
}

.properties-golden-ticket {
	color: white;
	font-style: bolder;
	font-size: 20px;
	border-bottom: 2px solid currentColor;
	padding-bottom: 3px;
}

.properties-london {
	color: white;
	font-style: bolder;
	font-size: 20px;
	padding-top: 2px;
}

.mobile-counter {
	font-size: 9px; 
	opacity: 0.6; 
	letter-spacing: inherit;
}

.mobile-image-counter {
	border-bottom: 1px solid currentColor;
}

.home-golden-ticket {
	font-style: bolder;
	font-size: 20px;
	border-bottom: 2px solid currentColor;
	padding-bottom: 3px;
}

.home-london {
	font-style: bolder;
	font-size: 20px;
	padding-top: 2px;
}

.property-box {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	color: #805649;
	font-size: 16px;
	height: 100%;
	width: 100%;
	background-color: white;
}


.property-intro-text {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	padding-left: 10%;
	padding-right:  10%;
	color: #805649;
	font-size: 16px;
	height: 100%;
	width: 100%;
	background-color: white;
}

.property-intro-text p {
	display: flex;
}

.property-intro-title {
	font-style: bolder;
	margin-bottom: 10px;
}

.close-property {
	position: absolute;
	height: 5.25rem;
	width: 5.25rem;
	background-size: 1.5rem;
	right: 1rem;
	top: 2rem;
	z-index: 1000;
	color: #805649;
	opacity: 0.5;
}

.home-right-box {
	background-image: url("../images/landing-image.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 93vh;
}

.properties-background {
	display: flex;
	padding: 0px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 100%;
}

.fade-enter-active {
	transition: opacity .5s;
}

.fade-leave-active {
	transition: opacity .0s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
	opacity: 0;
}

[v-cloak] {
	display: none;
}


/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {

	.pt-4, .py-4 {
		padding-top: 0.0rem !important;
	} 

	.vue-map-container {
		width: 100%;
		height: 350px;
	}
}

/* Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) { 

	.vue-map-container {
		width: 100%;
		height: 270px;
	}
}


/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 414px) 
and (max-device-width: 736px) 
and (-webkit-min-device-pixel-ratio: 3) { 

	.close-property {
		width: 6.25rem;
	}

}

/* Portrait */
@media only screen 
and (min-device-width: 414px) 
and (max-device-width: 736px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
and (min-device-width: 414px) 
and (max-device-width: 736px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) { 

	.vue-map-container {
		width: 100%;
		height: 270px;
	}

}


@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { 
	/* Styles Here */
}


/* ----------- iPad Pro 12.9" ----------- */

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
and (min-device-width: 1024px) 
and (max-device-width: 1024px) 
and (orientation: portrait) 
and (-webkit-min-device-pixel-ratio: 2) {

	.vue-map-container {
		width: 100%;
		height: 700px;
	}

}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
and (min-device-width: 1366px) 
and (max-device-width: 1366px) 
and (orientation: landscape) 
and (-webkit-min-device-pixel-ratio: 2) {
	
}


/* ----------- iPad Pro 10.5" ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 834px) 
and (max-device-width: 1112px)
and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
and (min-device-width: 834px) 
and (max-device-width: 834px) 
and (orientation: portrait) 
and (-webkit-min-device-pixel-ratio: 2) {

	.vue-map-container {
		width: 100%;
		height: 500px;
	}


}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
and (min-device-width: 1112px) 
and (max-device-width: 1112px) 
and (orientation: landscape) 
and (-webkit-min-device-pixel-ratio: 2) {

}












