<style scoped>
.buttons {
  margin-top: 35px;
}
.ghost {
  opacity: 0.5;
  background: #c8ebfb;
}
</style>

<script>

import draggable from 'vuedraggable'

export default {
    props: ['images', 'total', 'propertyid'],

    components: {
        draggable,
    },

    created() {
        //
    },

    data() {
        return {
            slideVisible: false,
            adminImages: [],
            property: [],
            image: [],
            imageNo: '',
            enabled: true,
            dragging: false
        };
    },

    mounted() {
        this.loadProperty();
        this.loadImages();
    },

    methods: {

        onUpdate: function (/**Event*/evt) {
            axios.post('/book-site/admin/positionPropertyImages/' + this.propertyid, { images: this.adminImages })
            .then(response => {
            } , response => {
              console.log('failed');
          });
        },

        checkMove: function(e) {
            // window.console.log("Future index: " + e.draggedContext.futureIndex);
        },

        getTotal() {
            return this.total
        },

        loadImages() {
            axios.get('/book-site/admin/getPropertyImages/' + this.propertyid)
            .then(response => {
                this.adminImages = _.orderBy(response.data, 'position_no')
            })
        },

        loadProperty() {
            axios.get('/book-site/admin/getProperty/' + this.propertyid)
            .then(response => {
                this.property = response.data
            })
        },

        setHeaderImage(image) {
            axios.post('/book-site/admin/setHeaderImage/' + image.id, {image: image})
            .then(response => {
                this.loadProperty()
                this.loadImages()
            });
        },

        removeImage(image) {
            axios.post('/book-site/admin/removeImage/' + image.id, {image: image})
            .then(response => {
                this.loadImages()
            });
        }
    },
};

</script>


